* {
	box-sizing: border-box;
}
/* For Small Mobile Screen */
@media screen and (max-width: 640px){
	.colorBox {
		width: 16px;
		height: 16px;
	}
}
/* For Mobile Screen */
@media screen and (max-width: 767px) and (min-width: 641px){
	.colorBox {
		width: 20px;
		height: 20px;
	}
}
/* For Ipad/Tab Screen */
@media screen and (max-width: 1024px) and (min-width: 768px){
	.colorBox {
		width: 25px;
		height: 25px;
	}
}
/* For Desktop Screen */
@media screen and (min-width: 1025px){
	.colorBox {
		width: 30px;
		height: 30px;
	}
}

.billMainDiv {
	border: 2px solid lightblue;
	width: 100%;
	padding: 5px;
	background-color: white;
	margin-top: 2%;
}
.billMainDiv h2 {
	text-align: center;
	background-color: lightblue;
	color: white;
	margin: 0px 0px 5px;
}
.jacketCanvas {
	display: inline-block;
	border: 1px solid lightgray;
	position: relative;
}
.colorDiv {
	display: inline-block;
	margin-left: -5px;
	border: 1px solid lightgray;
	padding: 5px;
	position: relative;
}
.innerColor {
	display: inline-block;
	position: relative;
	top: 0.5%;
	margin: 0.5%;
	margin-right: 1%;
	float: left;
	border: 2px solid lightblue;
}
.innerColor::after {
	clear: both;
	content: "";
	display: table;
}
.colorBox {
	display: inline-block;
	float: left;
	position: relative;
	padding: 0px;
	margin: 0.8%;
	border: 2px solid transparent;
	cursor: pointer;
}
.divCanvas {
	display: inline-block;
	width: auto;
	height: auto;
	position: relative;
}
.canvasBtn {
	position: absolute;
	background: lightblue;
	color: white;
	border: none;
	padding: 5px;
	box-shadow: 2px 2px 2px gray;
	transition: all 0.25s;
	cursor: pointer;
	z-index: 1;
}
.canvasBtn:hover {
	box-shadow: 4px 4px 2px gray;
}
.canvasBtn:active {
	color: lightblue;
	background-color: white;
	box-shadow: 1px 1px 2px gray;
}
.leftButton {
	top: 2%;
	left: 2%;
}
.rightButton {
	top: 2%;
	right: 2%;
}
